<h1>Thank you for your order</h1>
<p>If you have any questions, contact us at <a href="mailto:purchases@example.com">purchases@example.com</a></p>
<span><%= link "Back to products", to: Routes.product_path(@conn, :index) %></span>
